img{
    width: 40%;
    padding-bottom: 20px;
}

#botao{
    background-color: #b4b4b4;
    padding: 5px;
    border-radius: 5%;
    display: inline;
}

.link{
    display: inline;
    background-color: #b4b4b4;
    border-radius: 5%;
    padding: 5px;
}